.App {
  padding: 20px;
}

.container{
  border: 1px black solid;
  padding: 5px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.img-container {
  margin: auto 0;
}

p {
  margin: 0.2rem;
}

span{
  font-weight: bold;
}

.credit-card {
  margin: 10px;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  display: inline-block;
}

.driverCard-container {
  background-color: #425cbb;
  border-radius: 10px;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.driverCard-container img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.like-button:focus {
  border: #87d6eb  5px solid;
  border-radius: 5px;
}

.box {
  height: 50px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
}

.box p {
  margin-top: 15px;
}

.text-container {
  font-size: larger;
  margin-left: 10px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.facebook-btn {
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 5px 7px;
  border: 1px solid grey;
}

.sign-up-container {
  max-width: 400px;
}

form {
  flex-direction: column;
}

form label, form input, form select {
  margin-bottom: 10px;
}

input, select {
  padding: 5px 10px;
}

.sign-up-btn {
  padding: 10px;
  background-color: #87d6eb;
  border: none;
  border-radius: 5px;
  width: 30%;
  margin: 10px auto;
  font-weight: bold;
}

.color-picker p {
  margin: auto 10px;
}